- name: Deploy NMAP detection rules
  ansible.builtin.template:
    src: nmap.rules.j2
    dest: /etc/suricata/rules/nmap.rules
    owner: root
    group: root
    mode: '0644'
  notify: Restart suricata
  tags: [lab_2]

- name: Ensure nmap.rules is included in suricata.yaml
  ansible.builtin.lineinfile:
    path: /etc/suricata/suricata.yaml
    regexp: '^  - /etc/suricata/rules/nmap.rules'
    line: '  - /etc/suricata/rules/nmap.rules'
    insertafter: '^rule-files:'
  notify: Restart suricata
  tags: [lab_2]

- name: Launch EveBox container
  community.docker.docker_container:
    name: evebox
    image: jasonish/evebox:latest
    state: started
    recreate: true
    ports:
      - "0.0.0.0:5636:5636"
    volumes:
      - "/var/log/suricata:/var/log/suricata:ro"
    # Добавляем --no-auth и --no-tls
    command: "evebox server --no-auth --no-tls --datastore sqlite --input /var/log/suricata/eve.json --host 0.0.0.0"
    restart_policy: always
  tags: [lab_2, evebox]
