%YAML 1.1
---
vars:
  address-groups:
    HOME_NET: "[172.16.90.0/24]"     # FIX: подсеть docker labnet
    EXTERNAL_NET: "!$HOME_NET"       # FIX: все, что не HOME_NET

    ATTACKER_NET: "[172.16.90.20]"   # FIX: attacker контейнер
    VICTIM_NET:   "[172.16.90.10]"   # FIX: victim контейнер

runmodes:
- runmode: workers

nfqueue:
  mode: accept
  repeat-mark: 1
  repeat-mask: 1
  bypass-mark: 2
  bypass-mask: 2
  queue-balance:
    - {{ suricata_ips_nfqueue_workers }}

rule-files:
  - {{ suricata_ips_local_rules }}

outputs:
  - eve-log:
      enabled: yes
      filetype: regular
      filename: eve.json
      types:
        - alert
        - drop
        - http
        - dns

classification-file: /etc/suricata/classification.config
reference-config-file: /etc/suricata/reference.config

app-layer:
  protocols:
    http: enabled
    dns: enabled
    tls: enabled

logging:
  outputs:
    - console:
        enabled: no
    - file:
        enabled: yes
        level: info
        filename: suricata.log

