---
- name: Configure suricata.yaml
  ansible.builtin.template:
    src: suricata.yaml.j2
    dest: "{{ suricata_ips_yaml }}"
    owner: root
    group: root
    mode: "0644"
    backup: true
  notify: Restart Suricata
